<a  rel="prettyPhoto" href="<%=chemin_origin%>">
<img class="<%=obj.type%> <%=obj.reference%> capture" <%-if !obj.text_alt.blank? -%>alt="<%=obj.text_alt%>"<%-end-%> src="<%=chemin_photo  %>" />
</a>
