<div class="formulaire cmp_resume_detail_formation" id="<%=obj.reference%>">
<label class="titre">
   <%=t("CmpComposant.CmpResumeDetailFormation.titre")%>
</label >
<br></br>
<table>
  <tr>
    <td><label> <%=t("CmpComposant.CmpResumeDetailFormation.texte")%> </label></td>
    <td>
      <input id="<%=obj.reference%>_texte" type="text" value="<%=obj.texte%>" name="<%=obj.reference%>[texte]"></input></td>
  </tr>
</table>
</div>