<input type="hidden"  name="id"  value="<%=@menu.id%>"></input>
<table class="formulaire">
   <tr>
    <td><label><%=t("GestionMenus.Label.nom")%></label></td>
    <td><%= f.text_field :nom %></td>
  </tr>
   <tr>
    <td><label><%=t("GestionMenus.Label.lien")%></label></td>

        <td><%= f.text_field :lien %></td>
    
  </tr>
  <tr>
    <td><label><%=t("GestionMenus.Label.titre")%> </label></td>
    <td><%= f.text_field :titre %></td>
  </tr>
   <tr>
    <td><label><%=t("GestionMenus.Label.role")%></label></td>
    <td>
    <%= select("menu", "role", @packs.collect {|f| [ f.nom, f.reference ] }, { :include_blank => true })%>
      </td>
  </tr>
 
</table>