<%content_for :style do -%>
<%=stylesheet_link_tag "themes/#{@skin}/general/gestion" -%>
<%-end -%>
<div class="header_gestion">
<h1><%=t("GestionUtilisateurs.Pages.Index.titre")%></h1>
<% if permitted_to? :new %>
<%=cmp_button(CmpButton.new(t("ajouter"), t("GestionUtilisateurs.Pages.Ajouter.titre"),"/gestions/gestion_utilisateur/formateurs_manager/new","bt_ajouter"))%>
<%end%>
</div>
<div class="cmp_data_grid">
  <table>
    <thead>
      <tr>
        <td style="width: 100px" ></td>
          <td><%=t("GestionUtilisateurs.Label.nom")%></td>
          <td><%=t("GestionUtilisateurs.Label.prenom")%></td>
          <td><%=t("GestionUtilisateurs.Label.pays")%></td>
          <td><%=t("GestionUtilisateurs.Label.ville")%></td>
          <td style="width: 100px"><%=t("Gestions.Label.action")%></td>
      </tr>
    </thead>
    <tbody>
      <%@utilisateurs.each { |utilisateur|%>
      <tr>
        <td><%=cmp_photo_capture(utilisateur.cmp_photo)%></td>
        <td><%=utilisateur.nom%></td>
        <td><%=utilisateur.prenom%></td>
        <td><%=utilisateur.pays%> </td>
        <td><%=utilisateur.ville%> </td>
        <td>
          <div class="action">
            <a href="/gestions/gestion_utilisateur/formateurs_manager/edit/<%=utilisateur.id%>" title="<%=t("Gestions.Action.editer")%>"><span class="editer"> </span></a>
            <% if permitted_to? :delete %>
            <%= link_to "<span class='supprimer'> </span>",{
            :action =>"delete",
            :controller=>"/gestions/gestion_utilisateur/formateurs_manager" ,
            :id=>utilisateur.id},:title=> t("Gestions.Action.supprimer"), :confirm => t("GestionUtilisateurs.msg.confirmation_suppresion")
            %>
            <%end%>
           </div>
        </td>
      </tr>
      <%-}-%>
    </tbody>
  </table>
</div>