<p>
<%= form.label :nom %>
<%= form.text_field :nom %>
</p>
<p>
<%= form.label :prenom %>
<%= form.text_field :prenom %>
</p>
<p>
<%= form.label :email %>
<%= form.text_field :email %>
</p>
<p>
<%= form.label :login %>
<%= form.text_field :login %>
</p>
<p>
<%= form.label :password, form.object.new_record? ? nil : "Change password" %>
<%= form.password_field :password %>
</p>
<p>
<%= form.label :password_confirmation %>
<%= form.password_field :password_confirmation %>
</p>