<div class="cmp_ticker_formation cmp" id="<%=composant.reference%>">
<label class="titre"><%=composant.label_form%> </label>
<ul class="form">
  <li>
  <label><%=t("titre")%> </label>
  <input id="<%=composant.reference%>_titre" type="text" value="<%=composant.titre%>" name="<%=composant.reference%>[titre]"></input>
  </li>
</ul>
</div>