<div class="formulaire cmp_logo" id="<%=obj.reference%>">
<label class="titre">
   <%=t("CmpComposant.CmpLogo.titre")%>
</label >
<br></br>
<table>
  <tr>
    <td><label> <%=t("CmpComposant.CmpLogo.logo")%> </label></td>
    <td>
      <input id="<%=obj.reference%>_texte" type="text" value="<%=obj.texte%>" name="<%=obj.reference%>[texte]"></input></td>
  </tr>
  <tr>
    <td><label> <%=t("CmpComposant.CmpLogo.slogan")%> </label></td>
    <td>
      <input id="<%=obj.reference%>_nom" type="text" value="<%=obj.nom%>" name="<%=obj.reference%>[nom]"></input></td>
  </tr>
</table>
</div>