<div class="formulaire animation_flash cmp" id="<%=obj.reference%>">
  <input type="hidden" id="<%=obj.reference%>_reference" name="<%=obj.reference%>[reference]" value="<%=obj.reference%>"></input>
<table>
  <%-if !obj.id.nil?-%>
  <tr>
    <td></td>
    <td><%=cmp_animation_flash(obj)%></td>
  </tr>
  <%-end-%>
 <tr>
    <td><label><%=t("source")%> </label></td>
    <td><input id="<%=obj.reference%>_flash" size="31" type="file"  name="<%=obj.reference%>[flash]"></input></td>
  </tr>
  <tr>
    <td><label><%=t("width")%> </label></td>
    <td><input id="<%=obj.reference%>_width" type="text" value="<%=(obj.width== 0)?"":obj.width%>" name="<%=obj.reference%>[width]"></input></td>
  </tr>
  <tr>
    <td><label><%=t("height")%> </label></td>
    <td><input id="<%=obj.reference%>_height" type="text" value="<%=(obj.height== 0)?"":obj.height%>" name="<%=obj.reference%>[height]"></input></td>
  </tr>
  <tr>
    <td><label><%=t("text_alternatif")%> </label></td>
    <td><input id="<%=obj.reference%>_photo" type="text" value="<%=obj.text_alt%>" name="<%=obj.reference%>[text_alt]"></input></td>
  </tr>
  
</table>
</div>