<a name="<%=obj.id%>"></a>
<div class="cmp_animation_flash" style="z-index: 0">


  <object  id="presentation" width="<%=obj.width%>" height="<%=obj.height%>" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="/media/flashs/<%=obj.id%>/<%=obj.texte%>" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<param name="allowFullScreen" value="true" />
<embed src="/media/flashs/<%=obj.id%>/<%=obj.texte%>" quality="high" bgcolor="#ffffff" width="<%=obj.width%>" height="<%=obj.height%>" name="presentation" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" allowFullScreen="true" />
</object>




</div>
