<div class="formulaire cmp_text cmp" id="<%=obj.reference%>">
 
<label class="titre"><%=obj.label_form%></label >
<br></br>
<table>
  <tr>
    <td><label><%=t("titre")%> </label></td>
    <td><input id="<%=obj.reference%>_titre" type="text" value="<%=obj.titre%>" name="<%=obj.reference%>[titre]"></input></td>
  </tr>
</table>
</div>