<div class="formulaire cmp_element_cour_html" id="<%=obj.reference%>">
<label class="titre">
   <%=t("CmpComposant.CmpElementCourHtml.titre")%>
</label >
<br></br>
<table>
  <tr>
    <td><label> <%=t("CmpComposant.CmpElementCourHtml.texte")%> </label></td>
    <td>
      <input id="<%=obj.reference%>_texte" type="text" value="<%=obj.texte%>" name="<%=obj.reference%>[texte]"></input></td>
  </tr>
</table>
</div>