<%content_for :style do %>
       <%=stylesheet_link_tag "themes/#{@skin}/pages/formation/detail" %>
<%end%>
<div class="formation">
  <h2><%=@formation.designation%></h2>
  <div class="description">
    <%=@formation.description%>
    <div class="formateur"><%=t("formateur")%> : <%=@formation.professeur%></div>
  </div>
  
  <%= render :partial=>"formation/partials/plan_formation"  , :locals=>{:truncate_size=>400,:id_page_active=>0,:formation=>@formation} %>


</div>


 