<a name="<%=obj.id%>"></a>
<div  style="width: <%=obj.width%>px ;margin: <%=obj.height%>px auto ">
  <div class="cmp_lien_button"  >
    <a href="<%=obj.texte%>" title="<%=obj.titre%>"><%=obj.nom%></a>
  </div>
</div>
 