<%content_for :script do %>
<script type="text/javascript">
     Bind_InputText_to_InpiteText_width_endstr("cmp_article_type_reference", "cmp_article_type_fichier_css",".css");

   Bind_InputText_to_Reference_With_Prefixe("cmp_article_type_nom", "cmp_article_type_reference","cmp_");
   Bind_InputText_to_Classe_With_Prefixe("cmp_article_type_nom", "cmp_article_type_type_composant","Cmp");
</script>

<%end%>
<input type="hidden"  name="id"  value="<%=@cmp_article_type.id%>"></input>
<table class="formulaire">
  <tr>
    <td><label><%=t("GestionArticlesType.Label.nom")%> </label></td>
    <td><%= f.text_field :nom %></td>
  </tr>
  <tr>
    <td><label> Classe Ruby </label></td>
     <td><%= f.text_field :type_composant %></td>
  </tr>
 
  <tr>
    <td><label><%=t("GestionArticlesType.Label.reference")%></label></td>
    <td><%= f.text_field :reference %></td>
  </tr>
  <tr>
    <td><label>Génération physique</label></td>

    <td>
        <%= select("cmp_article_type", "generation_physique",[[t("oui"), 1],[t("nom"),0]], { :include_blank => false })%>
    </td>
  </tr>
  <tr>
    <td><label><%=t("GestionArticlesType.Label.fichier_css")%></label></td>
    <td><%= f.text_field :fichier_css %></td>
  </tr>
  <tr>
    <td><label><%=t("GestionArticlesType.Label.fichier_js")%></label></td>
    <td><%= f.text_field :fichier_js %></td>
  </tr>
  <tr>
    <td><label><%=t("GestionArticlesType.Label.libs_js")%></label></td>
    <td><%= f.text_field :libs_js %></td>
  </tr>
  <tr>
    <td><label><%=t("GestionArticlesType.Label.libs_css")%></label></td>
    <td><%= f.text_field :libs_css %></td>
  </tr>
  <tr>
    <td><label><%=t("GestionArticlesType.Label.have_form")%></label></td>
    
    <td>

        <%= select("cmp_article_type", "have_form",[[t("oui"), 1],[t("nom"),0]], { :include_blank => false })%>
    </td>
  </tr>
   <tr>
    <td><label><%=t("GestionArticlesType.Label.is_layout")%></label></td>

    <td>

        <%= select("cmp_article_type", "is_layout",[[t("oui"), 1],[t("nom"),0]], { :include_blank => false })%>
    </td>
  </tr>
   <tr>
    <td><label><%=t("GestionArticlesType.Label.role")%></label></td>
    <td>
    <%= select("cmp_article_type", "role", @packs.collect {|f| [ f.nom, f.reference ] }, { :include_blank => true })%>
      </td>
  </tr>


  <tr>
   <td><label><%=t("GestionArticlesType.Label.themes")%></label></td>

     <td>
       <ul>
        <% @themes.each do |theme| %>
        <li>
          <%= check_box_tag 'themes[]', theme.ref_theme, (@cmp_article_type.cmp_article_type_themes.collect { |r| r.ref_theme  }.include?(theme.ref_theme)) -%>
          <%=h theme.nom -%>
        </li>
        <% end %>
       </ul>
    </td>
  </tr>





  <tr>
    <td><label><%=t("image")%></label></td>
    <td><%=sys_cmp_photo_input(@cmp_article_type.sys_cmp_photo,{:alt=>false})%></td>
  </tr>



    
</table>