<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <title><%=@page.titre%></title>
 <meta name="description" content="<%=@page.description%>" />
 <link rel="shortcut icon" href="/favicon.ico" />
 <link rel="icon" type="image/x-icon" href="/favicon.ico" />
 <link rel="icon" type="image/png" href="/favicon.png" />
 <meta name="keywords" content="<%=@page.mots_cle%>" />
 <meta http-equiv="imagetoolbar" content="no" />
 <%=stylesheet_link_tag "system/general/reset" %>
 <%=stylesheet_link_tag "themes/#{@skin}/general/general"  %>
<%=yield :style -%>
 <%=javascript_include_tag "jquery-1.6.min"  %>
<%= yield :script -%>
</head>
<body>
<div id="page" >
<div id="border_page">
<div id="header">
<div id="header-inside">
  <%=render :partial=>"/layouts/partials/menu_top"%>
  <div id="logo"></div>
</div><!-- fin de header-inside -->
<%=menu_site_web%>
</div><!-- fin de header -->
<div id="global">

<%-if flash[:notice] -%>
<div class="message_box">
  <div class="message">
<p><%= flash[:notice] %></p>
</div>
</div>
 
<%-end-%>
 
<div id="content">


<%- if instance_variable_defined?('@content_for_left_area')   -%>
<div class="left_area" >
<%=yield :left_area%>
</div>
<%-end-%>

<%= yield %>
</div><!-- fin de content -->
<%- if instance_variable_defined?('@content_for_zone_droit')   -%>
<div id="zone_droit">
<%= yield :zone_droit %>
</div>
<%-end-%>


</div> <!-- fin de global -->
</div>
  </div>
</body>
</html>